:root {
    --main-color: #d92123;
    --primary-text-color: #fff;
    --secondary-color: #191919;
    --secondary-color: #868686;
    --tertiary-color: #eff3f4;
    --secondary-color: #5c1011;
}


*{
    font-family: "lato";
    padding: 100;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}
/* id */    
#header {
    min-height: 90vh;
    background-image: url("/imagens/main_banner4.png");
    background-size: cover;
    background-position: center;  
    color: var(--primary-text-color);
    margin-bottom: 2rem; 
}

#inner-header{
    display: flex; /**colocou um do lado do outro na horizontal**/
    justify-content: space-between;  /**fez colocar em cada canto**/
    align-items: center;/** alionhamento vertical, para deixar na mesma linha e tamanho**/
}

#brand {
    background-color: var(--main-color);
    padding: 1rem;
}
#navbar {
    display: flex;
    gap: 2rem; /** espaçamento**/
    text-transform: uppercase; /** afasta e deixa maiuscula**/
    margin-right: 2rem; /** espacou as letras**/
}
#navbar a {
    color: var(--primary-text-color);
    font-weight: bold;  /** deixa em negrito**/
    padding: 1rem;
}
